﻿@using OmegaWebApp.Services;
@{
    Token token = (Token)ViewData["Token"];
    string guid = (string)ViewData["Guid"];
    IEnumerable<string> providers = (IEnumerable<string>)ViewData["Providers"];
    string providerNames = providers == null ? string.Empty : string.Join(",", providers.Select(p => string.Format("'{0}'", p)));
}
<!DOCTYPE html>
<html>
<head>
    <title>SPA</title>
</head>
<body>
    <div id="app"></div>
    <script>
        (function () {
            var primarySchool = (function () {
                var identity = null;

                var getIdentity = function () {
                    return identity;
                };

                var setIdentity = function (i) {
                    identity = i;
                };

                return {
                    getIdentity: getIdentity,
                    setIdentity: setIdentity
                };
            })();

            this.ITI = this.ITI || {};
            this.ITI.PrimarySchool = primarySchool;
        })();
    </script>
    @if (token != null && guid != null)
    {
        <script>
            (function () {
                ITI.PrimarySchool.setIdentity({
                    bearer: {
                        access_token: '@token.AccessToken',
                        expires_in: @token.ExpiresIn
                    },
                    guid: '@guid',
                    boundProviders: [@Html.Raw( providerNames )]
                });
            })();
        </script>
    }
    <environment names="Development">
        <script type="text/javascript" src="http://localhost:8080/dist/omega-front.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/dist/omega-front.js"></script>
    </environment>
</body>
</html>