<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SPA</title>
</head>
<body>
    <div id="app"></div>
    <environment names="Development">
        <script type="text/javascript" src="http://localhost:8080/dist/omega-front.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/dist/omega-front.js"></script>
    </environment>
</body>
</html>