@font-face {
    font-family: 'beat';
    src:url('../assets/beat.otf');
}

html, body{
  height:100%;
  margin: 0px;
}

body {
  min-height: 100%;
}
#Cd {
    height: 100vh;
    width: 100vh;
    position: absolute;
}
.Cd {
    width: 100vh;
    position: absolute;
}
#Logo {
    margin-top: 34vh;
    height: 30vh;
    width: 30vh;
    position: absolute;
    margin-left: 35vh;
}
#Login {
    background-color: #171717;
    min-height: 100vh; 
    text-align: center;
    margin: auto;
}

#FbPanel {
    width: 60vh;
    height: 60vh;
    float: left;
    position: absolute;
    margin-left: 15vh;
}

#StreamPanel {
    width: 60vh;
    height: 60vh;
    position:  relative;
    float: right;
}

.FbButton {
    margin-top: 45vh;
    cursor:pointer;
    margin-left: 10vh;
    border: none;
    background: transparent;
    

}

.DeButton {
    margin-top: 40vh;
    cursor:pointer;
    border: none;
    background: transparent;
}

.SpButton {
    margin-top: 0vh;
    cursor:pointer;

    border: none;
    background: transparent;
}

#imgHelp {
 height: 150px;
 width: 150px;
}
