


.FbPanel {
    background-color: #de002b;
    width: 30%;
    height: 60%;
    margin-left: 35vh;
    position: absolute;
}

.StreamPanel {
    background-color: #de002b;
    width: 30%;
    height: 60%;
    margin-left: 110vh;
    position:  absolute;  
}

.imgHelp {
 height: 150px;
 width: 150px;
}
