.wrapper {
  background: #de002b;
  margin-left: 250px;
  height: 100vh;
  padding: 20px;
}

.playlistsPanel {
}

.playlists{
  display: inline-block;
	vertical-align: middle;
}
.imgplaylist {
  width: 15vh;
  height: 15vh;
}